body {
    background-color: cornflowerblue;
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;
}
header {
    text-align: center;
    margin: 0.3rem;
}
nav {
    float: left;
    text-align: left;
    position: absolute;
    width: 13%;
    min-width: 155px;
    padding: 1.2rem;
    background-color: white;
    border-radius: 0 10% 10% 0;
}

nav h2 {
    color: black;
    text-transform: uppercase;
    font-size: 1.2rem;
}

nav ul {
    list-style: none;
    margin-left: -1.2rem;
}

nav li {
    margin-bottom: 1.2rem;
}
canvas {
    border: 5px dashed white;
}